.progressContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 2rem 1rem;
}

.progressValue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  height: 17px;
  background-color: darkmagenta;
  transition: 0.3s ease forwards;
}
