* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #171717;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0rem 4rem 0rem;
  color: #fafafa;
}

.gifPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border: 2px dashed #171717;
  margin-bottom: 2rem;
  padding: 0.5rem;
  width: 100%;
  height: 350px;
}

.gifImg {
  height: 90%;
}

.fileLabel {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  word-break: break-all;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subtitle {
  width: 100%;
  font-size: 2rem;
  margin: 0rem 1rem 0rem 1rem;
  text-align: center;
}

.fileSettings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: none;
  padding: 1rem;
}

.fileSettingsDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fileSettingsLabel {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0.25rem 0rem;
}

.fileSettingsInput {
  outline: none;
  width: 100%;
  max-width: 450px;
}

.convertBtn {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: darkmagenta;
  color: #fafafa;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

@media (max-width: 499px) {
  .fileSettings {
    flex-direction: column;
    width: 100%;
  }

  .fileSettingsDiv {
    width: 100%;
    margin-bottom: 1rem;
  }
}
