* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #171717;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.title {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0rem 4rem 0rem;
  color: #fafafa;
}

.video {
  max-width: 100%;
  max-height: 100%;
}

.gifPreview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #fafafa;
  margin-bottom: 2rem;
  padding: 0.5rem;
  width: 100%;
  height: 350px;
  border-radius: 0.25rem;
}

.fileNameContainer {
  width: 100%;
  color: #fafafa;
  padding: 0.25rem 0rem;
}

.gifImg {
  max-width: 100%;
  max-height: 100%;
}

.fileLabel {
  font-size: 1rem;
  font-weight: bold;
  word-break: break-all;
  width: 100%;
  color: lightgrey;
}

.fileName {
  font-size: 0.75rem;
  font-weight: 400;
  word-break: break-all;
  width: 100%;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subtitle {
  width: 100%;
  font-size: 2rem;
  margin: 0rem 1rem 0rem 1rem;
  text-align: center;
}

.fileSettings {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: none;
  padding: 1rem;
}

.fileSettingsContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fileSettingsMessage {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: rgb(245, 245, 245);
}

.fileSettingsDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.fileSettingsLabel {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0.25rem 0rem 0.75rem 0rem;
}

.fileSettingsInput {
  outline: none;
  width: 100%;
  max-width: 450px;

  background: linear-gradient(to right, darkmagenta 0%, rgb(201, 3, 201) 100%);
  border: solid 1px darkmagenta;
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  cursor: pointer;
  background: #171717;
  border: solid 1px #fafafa;
  border-radius: 5rem;
}

.convertBtn {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: darkmagenta;
  color: #fafafa;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

@media (max-width: 499px) {
  .fileSettingsContent {
    flex-direction: column;
    width: 100%;
  }

  .fileSettingsDiv {
    width: 100%;
    margin-bottom: 2rem;
  }
}
